<footer id="footer">
  <div class="container">
    <div class="contact-us">Please contact us: <a href="mailto:kdr-support@kpmg.ua">kdr-support@kpmg.ua</a></div>

    <div class="footer-menu-wrapper">
      <ul class="flex space-between align-center">
        <li><a href="">Accession Agreement</a></li>
        <li><a href="">Dutch regulation</a></li>
        <li><a href="">English regulation</a></li>
        <li><a href="">Operator fee schedule</a></li>
        <li><a href="">Confirmation letter template</a></li>
        <li><a href="">Statement of liability limitatio</a></li>
        <li><a href="">Protection of personal data</a></li>

      </ul>
    </div>

    <div class="footer-text">
      KPMG-Ukraine Ltd., a company incorporated under the Laws of Ukraine, a member firm of the KPMG network of independent member firms
      <br>affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity.
    </div>
  </div>
</footer>
